body, h1, h2, h3, p, ul, li {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: lightyellow;
    display: inline;
}

.top {
    display: flex;
    background-color: orange;
    padding: 10px 0 15px 0; 
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    flex-grow: 1;
}

.title {
    display: flex;
    justify-content: start;
    margin-left:30px;
    flex-grow: 5;
}

.links {
    display: flex;
    justify-content: end;
    word-spacing: 20px;
    margin-right: 30px;
    flex-grow: 1;
}

.stuff {
    text-align: center;
    clear: both;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
}

.pages {

    background-color: white;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 350px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.content {
    margin: 20px 50px 500px 50px;
}

.info {
    text-align: center;
    background-color: orange;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}